<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wanderlust</title>
</head>
<body>
  <h1>Edit Your Listing</h1>

  <form action="/listings" method="POST">
    <input name="listing[title]" placeholder="Enter title" type="text" value="<%=listing.title%>" required>
    <br><br>

    <textarea name="listing[description]" placeholder="Enter description" value="<%=listing.description%>" rows="4" cols="40"></textarea>
    <br><br>

    <input name="listing[image]" placeholder="Enter image URL" value="<%=listing.image%>" type="url">
    <br><br>

    <input name="listing[price]" placeholder="Enter price" value="<%=listing.price%>" type="number" min="0">
    <br><br>

    <input name="listing[country]" placeholder="Enter country" value="<%=listing.country%>" type="text">
    <br><br>

    <input name="listing[location]" placeholder="Enter location" value="<%=listing.location%>" type="text">
    <br><br>

    <button type="submit">Edit</button>
  </form>
</body>
</html>
